<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="isbn" i18n="@@isbnlabel">ISBN</label>
    <input class="form-control" id="isbn" formControlName="isbn">
    <div *ngIf="isInvalid('isbn')" class="feedback-red" i18n="@@isbnmessage">ISBN ist
      ungültig
    </div>
  </div>
  <div class="form-group">
    <label for="title" i18n="@@titlelabel">Title</label>
    <input class="form-control" id="title" formControlName="title">
  </div>
  <div class="form-group">
    <label for="title">Subtitle</label>
    <input class="form-control" id="subtitle" formControlName="subtitle">
  </div>
  <div class="form-group">
    <label for="description" i18n="@@desclabel">Description</label>
    <textarea class="form-control" id="description"
              formControlName="description"></textarea>
  </div>
  <div formArrayName="thumbnails">
    <div *ngFor="let th of thumbnails; index as i">
      <div [formGroupName]="i">
        <div class="form-group">
          <label for="ttitle">Thumbnail Title</label>
          <input class="form-control" id="ttitle" formControlName="title">
        </div>
        <div class="form-group">
          <label for="url">Thumbnail URL</label>
          <input class="form-control" id="url" formControlName="url">
        </div>
      </div>
    </div>

  </div>
  <button type="submit" class="btn btn-primary" [disabled]="bookForm.invalid" i18n="@@submitbutton">Speichern</button>
</form>

<ul>
  <li *ngFor="let book of results$ | async">{{book | json}}</li>
</ul>
