<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-white mb-4 pl-0">
    <a routerLink="/dashboard" class="navbar-brand" href="#"><fa-icon [icon]="faCrown" class="text-warning"></fa-icon>
      {{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/books">Dashboard</a>
        </li>
      </ul>
    </div>

    <button class="btn btn-primary" (click)="login()">Anmelden</button>
  </nav>

  <router-outlet></router-outlet>
</div>
